.svg_div {
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    font-style: normal;
    font-weight: bold;
}

.test_block {
    background: #3c4949ad;
    width: 75%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    column-gap: 1px;
}

.answer {
    height: 100%;
    background-position-x: center;
    background-size: 240%;
    width: 50%;
    background-color: rgba(34, 34, 34, 0.452);
    position: relative;
    text-align: center;
}

.answer h1 {
    background: #a2b2c154;
    padding: 3%;
    width: 94%;
    margin: 0;
    position: absolute;
    /* 2 */
    top: 50%;
    /* 3 */
    transform: translate(0, -50%)
}

.ftext {
    font-weight: bold;
    font-family: 'Alfa Slab One', cursive;
    font-style: normal;
    font-weight: bold;
}